################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pandora/bin
/Pandora/obj
/TestApp/bin
/TestApp/obj
/Pandora.Logging/obj
/Pandora.Logging/bin
